@import "tailwindcss";

:root {
  /* Light theme */
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #121212;
  --text-secondary: #1e1e1e;
  --accent-color: #8FC028;
  --border-color: #e0e0e0;
}

[data-theme="dark"] {
  /* Dark theme */
  --bg-primary: black;
  --bg-secondary: #1e1e1e;
  --text-primary: #f5f5f5;
  --text-secondary: #cccccc;
  --accent-color: #7CA822;
  --border-color: #333333;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* @import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
} */



/* scrollbar.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #729343 white; /* thumb color (light yellow), track color (dark) */
}

/* For Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* track (behind thumb) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #729343; /* thumb color (light yellow) */
  border-radius: 10px;
  border: 2px solid white; /* padding via border */
}
